body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f0f0f;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
 
}

.header img{
   height: auto;
  width: 80px;
}
.hero {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img{
  height: auto;
  width: 450px;
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.product img {
  width: 160px;
}

.featured {
  text-align: center;
  padding: 60px;
  font-size: 40px;
}
.hero {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* LOGO */
.hero-logo {
  position: absolute;
  top: 10%;
  z-index: 1;
}

.hero-logo img {
  width: 220px;
  pointer-events: none;
}

/* TEXTO */
.hero-text {
  position: relative;
  z-index: 2;
  text-align: center;
}

.hero-text h1 {
  font-size: 3rem;
}
.hero-logo img {
  filter: drop-shadow(0 20px 30px rgba(0,0,0,0.35));
}
/* Carruseles */
.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  padding: 40px;
  position: absolute;
  /* top:350px; */
}

/* carruseles */
.carousel {
  width: 100vh;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  gap: 20px;
}

.carousel img {
  width: 220px;
  border-radius: 12px;
}
.carousel-left {
  transform: translateX(-120%);
}

.carousel-right {
  transform: translateX(120%);
}
@media (max-width: 768px) {

  .products {
    flex-direction: column;
    gap: 30px;
  }

  .carousel {
    width: 100%;
  }

  .carousel img {
    width: 160px;
  }

}
.product-item {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  cursor: pointer;
}

.price {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  background: rgba(0,0,0,0.65);
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  opacity: 0;
  transition: all 0.35s ease;
  backdrop-filter: blur(6px);
}
.product-item:hover img {
  transform: scale(1.30);
}

.product-item:hover .price {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}


/* Background */


.bg-gradient {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: radial-gradient(circle at 20% 30%, #1a1a1a, transparent 40%),
              radial-gradient(circle at 80% 70%, #111, transparent 40%),
              linear-gradient(180deg, #0a0a0a, #000);
  animation: gradientMove 18s ease-in-out infinite alternate;
}

@keyframes gradientMove {
  0% { transform: scale(1) translateY(0); }
  100% { transform: scale(1.2) translateY(-40px); }
}