/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Segoe UI', sans-serif;
}

body{
  background:#f5f3ef; /* blanco hueso */
  color:#111;
  overflow-x:hidden;
}

/* NAVBAR */
.logo img{
    width: 70px;
}
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  position:fixed;
  width:100%;
  background:rgba(245,243,239,0.85);
  backdrop-filter: blur(8px);
  z-index:1000;
}

.navbar nav a{
  margin-left:20px;
  text-decoration:none;
  color:#111;
  font-weight:500;
}

/* HERO */
.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:120px 8% 60px;
  gap:40px;
}

.hero-text h1{
  font-size:3rem;
  margin-bottom:15px;
}

.hero-text p{
  margin-bottom:25px;
}

.hero-text button{
  padding:14px 28px;
  border:none;
  background:#111;
  color:white;
  cursor:pointer;
  font-weight:bold;
}

.hero-lottie{
  width:400px;
}

/* SECCIONES */
.section{
  padding:100px 8%;
  text-align:center;
}

.cards{
  display:flex;
  gap:20px;
  margin-top:30px;
  flex-wrap:wrap;
  justify-content:center;
}

.card{
  background:rgb(16, 10, 10);
  color: #f5f3ef;
  padding:30px;
  border-radius:12px;
  width:250px;
  box-shadow:0 5px 20px rgba(184, 2, 2, 0.05);
  transition:0.3s;
}

.card:hover{
  transform:translatex(-100px);
}

/* GALERIA */
.gallery-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
  margin-top:40px;
}

.gallery-grid img{
  width:100%;
  border-radius:10px;
}

/* CONTACTO */
.contacto button{
  margin-top:20px;
  padding:14px 30px;
  border:none;
  background:#111;
  color:white;
  cursor:pointer;
}
.map-container{
  width:100%;
  max-width:900px;
  margin:40px auto;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.map-container iframe{
  width:100%;
  height:350px;
  border:0;
}

@media(max-width:768px){
  .map-container iframe{
    height:260px;
  }
}

/* MAQUINA */
.clipper{
  position:fixed;
  width:120px;
  bottom:20px;
  left:-150px;
  z-index:999;
}

/* RESPONSIVE */
@media(max-width:768px){

.hero{
  flex-direction:column;
  text-align:center;
}

.hero-lottie{
  width:100vh;
}

.hero-text h1{
  font-size:2.2rem;
}

}